.box {
    width: 100%;
    height: 55px;
    background-color: lavender;
    padding: 0 15px 0 15px;
    border-radius: 2px;
    margin-bottom: 20px;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.box > div
{
    display: inline-flex;
}